<ion-content>
  <div class="ion-text-right">
    <p>{{username}}</p>
  </div>

  <div class="ion-text-center">
    <img src="assets/img/mindmatch-logo.png" alt="Logo de la aplicación" class="logo">
  </div>

  <div *ngIf="profileImage; else noImage">
    <img [src]="profileImage" alt="Imagen de perfil">
  </div>
  <ng-template #noImage>
    <p>No hay imagen de perfil disponible.</p>
  </ng-template>

  <div class="ion-margin-vertical">
    <button mat-flat-button color="primary" routerLink="/camara">Ir a la Cámara</button>
  </div>
  <div class="ion-margin-vertical">
    <button mat-flat-button color="primary" routerLink="/home">Volver a Home</button>
  </div>

  <p>Criterios en funcionamiento:</p>
  <app-apiconsumo></app-apiconsumo>

  <ion-buttons slot="end" class="boton-salir">
    <ion-button (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </ion-buttons>

</ion-content>