<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="exit-outline"></ion-icon>
        SALIR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tutorial</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Bienvenido/a a nuestra aplicación de criterios diagnósticos en psicología. Aquí te guiaré paso a paso sobre cómo utilizarla efectivamente para evaluar diferentes condiciones psicológicas.</p>

  <mat-card>
    <mat-card-header>Paso 1: Ingresar a los Criterios Diagnósticos </mat-card-header>
    <mat-card-content>Haz clic en el botón "Criterios Diagnósticos" para comenzar. Este paso te llevará a la sección donde podrás ingresar la información necesaria para la evaluación.</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>Paso 2: Ingresar Edad </mat-card-header>
    <mat-card-content>Es importante ingresar la edad del individuo que está siendo evaluado. Algunos criterios pueden variar dependiendo de la edad, y esto asegurará una evaluación precisa.</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>Paso 3: Seleccionar Síntomas En esta sección</mat-card-header>
    <mat-card-content>Encontrarás una lista de síntomas representados por casillas de verificación. Selecciona aquellos síntomas que el individuo haya experimentado durante el período de tiempo especificado (por ejemplo, los últimos 6 meses). Puedes deseleccionar un síntoma si es necesario.</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>Paso 4: Ver Resultados</mat-card-header>
    <mat-card-content>Una vez que hayas seleccionado los síntomas pertinentes, haz clic en el botón "Ver Resultados". La aplicación determinará si el individuo cumple con los criterios diagnósticos para ciertas condiciones psicológicas.</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header><p>Paso 5: ¿Que significan los resultados?</p></mat-card-header>
    <mat-card-content>
      <span class="cumple">Cumple:</span> 
      <p>Si el individuo cumple con los criterios diagnósticos, se le proporcionará una breve explicación sobre la condición diagnosticada y posibles tratamientos.</p>
      <img mat-card-image src="assets/img/positivo.png"> 

      <span class="no-cumple">No Cumple:</span> 
      <p>Si el individuo no cumple con los criterios diagnósticos, se indicará que no se ha encontrado evidencia suficiente para el diagnóstico.</p>
      <img mat-card-image src="assets/img/negativo.png"> 

      <span class="no-evaluable">No se puede Evaluar:</span> 
      <p>En algunos casos, puede ser difícil evaluar debido a especificidades como la edad. En estos casos, se indicará que la evaluación no se puede completar debido a estas limitaciones.</p>
      <img mat-card-image src="assets/img/interrogativo.png"> 
    </mat-card-content>
  </mat-card>

  

  <ion-card #card>
    <ion-card-content>¡Listo! Con estos pasos, podrás utilizar nuestra aplicación para realizar evaluaciones precisas de criterios diagnósticos en psicología.</ion-card-content>
  </ion-card>
  
  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>

  <ion-button class="boton-morado" (click)="irAHome()">Volver atrás</ion-button>




</ion-content>