<!--
<ion-header>
</ion-header>
-->

<ion-content [fullscreen]="true" class="content-container">
  <!-- Logo colocado más abajo en la página -->
  <div class="logo-container">
    <img src="assets/img/mindmatch-logo.png" alt="Logo de la aplicación" class="logo">
  </div>

  <!-- Contenedor para centrar el formulario -->
  <div class="form-container">
    <!-- CAMPOS PARA RELLENAR -->
    <form (ngSubmit)="login()">
      <p>
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill">
          <mat-label>Usuario:</mat-label>
          <input matInput [(ngModel)]="usernameLog" name="username" required placeholder="Usuario">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-hint>Introduce tu nombre de usuario</mat-hint>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña:</mat-label>
          <input matInput [(ngModel)]="passwordLog" name="password" required placeholder="Contraseña" type="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint>Introduce tu contraseña</mat-hint>
        </mat-form-field>
      </p>
    
      <button mat-flat-button color="primary" type="submit">Iniciar sesión</button>
    </form>
  </div>

  <!-- Botón que lleva al home -->
  <ion-button fill="clear" routerLink="/register">¿No tienes cuenta? Regístrate aquí</ion-button>
  <ion-button fill="clear" routerLink="/home">Ir a Home</ion-button>

  <!-- Círculo que gira de Angular Material -->
  <!-- Asegúrate de que Angular Material esté correctamente integrado en tu proyecto -->
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ion-content>