<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Título -->
    <ion-title class="ion-text-center">MindMatch: 2.0</ion-title>
    <!-- LOGO: Cree una clase llamada "logo" para disminuir su tamaño en el scss -->
    <img src="assets/img/logomindmatch.png" alt="Logo de la aplicación" class="logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CAMPOS PARA RELLENAR -->
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario:</ion-label>
      <ion-input type="text" [(ngModel)]="usernameLog" name="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="passwordLog" name="password" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" class="btn-primary">Iniciar sesión</ion-button>
  </form>

  <!-- Información del usuario admin -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Administrador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Usuario admin: RoyB<br>
      Contraseña: contra1234
    </ion-card-content>
  </ion-card>

  <!-- Botón que lleva al home -->
  <ion-button fill="clear" routerLink="/register">¿No tienes cuenta? Regístrate aquí</ion-button>
  <ion-button fill="clear" routerLink="/home">Ir a Home</ion-button>

  <!-- Círculo que gira de Angular Material -->
  <!-- Asegúrate de que Angular Material esté correctamente integrado en tu proyecto -->
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

</ion-content>