<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <div class="username-display">
        {{username}}
      </div>
    </ion-buttons>
    <img src="assets/img/mindmatch-logo.png" alt="Logo de la aplicación" class="logo">
  </ion-toolbar>

  <section>
    <div class="example-button-row">
      <div class="example-button-container">
        <button mat-fab extended routerLink="/ev">
          <mat-icon>assessment</mat-icon>
          Evaluacion
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended routerLink="/tutorial">
          <mat-icon>school</mat-icon>
          Tutorial
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended routerLink="/micuenta">
          <mat-icon>account_circle</mat-icon>
          Mi Cuenta
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended routerLink="/adminhome">
          <mat-icon>admin_panel_settings</mat-icon>
          Ingresar como Administrador
        </button>
      </div>
    </div>
  </section>

  <div class="logout-button-container">
    <ion-button (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>