ion-header {
  --ion-background-color: transparent;
  --background: transparent;
}

ion-toolbar {
  --background: transparent; /* Asegura que el fondo de la toolbar sea transparente */
  display: flex;
  justify-content: center; /* Centra el contenido de la toolbar */
  align-items: center; /* Alinea verticalmente */
  padding: 10px 0; /* Agrega un poco de espacio arriba y abajo del toolbar */
  border: none; /* Elimina cualquier borde que pueda estar presente */
}

ion-item {
  --background: transparent; /* Hace el fondo de los items transparente */
  --ion-background-color: transparent; /* Para versiones más nuevas de Ionic */
}

.logo {
  max-width: 100px; /* Mantiene el ajuste de tamaño */
  height: auto; /* Mantiene la proporción del logo */
  display: block; /* Mantiene el logo centrado */
  margin: 0 auto; /* Mantiene el logo centrado horizontalmente */
  margin-bottom: 30px; /* Añade espacio debajo del logo */
}

.logo-container, .ion-buttons {
  background: transparent;
  border: none; /* Elimina bordes si los hay */
}

ion-content {
  --background: none; /* Mantiene la eliminación del color de fondo predeterminado */
  background-color: #0093E9; /* Mantiene el color de fondo sólido */
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); /* Mantiene el degradado */
  padding-top: 40px; /* Aumenta el espacio en la parte superior */
}

/* Campos de texto para completar */
ion-input.input-rosa {
  --placeholder-color: orange;
  --color: rgb(81, 197, 255);
}

/* Botón */
.boton-morado {
  --background: rgb(115, 174, 230); /* Mantiene el color de fondo */
  --color: white; /* Mantiene el color del texto */
  display: block; /* Mantiene el bloque de estilo */
  margin-left: auto; /* Mantiene el margen izquierdo */
  margin-right: auto; /* Asegura que el botón esté centrado */
  margin-bottom: 20px; /* Añade espacio debajo de cada botón */
}

.spinner-container {
  display: flex;
  justify-content: center;
}

/* BOTONES */

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

/* Separar logo de formulario */

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%; /* Ajusta este valor según necesites */
  max-width: 600px; /* Ajusta este valor para establecer un ancho máximo */
  margin-top: 30px; /* Espacio entre la imagen y el formulario */
  padding: 20px; /* Aumenta el padding para dar más espacio alrededor del contenido del formulario */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  text-align: center; /* Asegura que el logo también esté centrado */
}

.logout-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* Estilos para hacer los botones más pequeños y redondeados */
ion-button {
  --border-radius: 20px; /* Ajusta el radio del borde para redondear los botones */
  --height: 40px; /* Altura más pequeña */
  --padding-start: 20px; /* Padding izquierdo */
  --padding-end: 20px; /* Padding derecho */
}

.username-display {
  position: absolute;
  right: 0;
  padding-right: 10px; /* Asegura un poco de espacio a la derecha */
  font-size: 16px;
}