<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding-vertical">
  <ion-card class="ion-text-center">
    <ion-card-title>
      <ion-label>
        <h1>Datos usuario nuevo</h1>
      </ion-label>
    </ion-card-title>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="text" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">apellido</ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">nacimiento</ion-label>
        <ion-input type="text" [(ngModel)]="nacimiento"></ion-input>
      </ion-item>



    </ion-card-content>
    <ion-button shape="block" (click)="guardar()">Guardar Usuario</ion-button>
  </ion-card>

</div>

</ion-content>
